---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>这个世界上，我总会对别人的夸赞感到害羞</li>
            <li>他们总是说的不够，内容也偏离现实，而我又不能直白的告诉他们这些</li>
            <li>各种观似乎是被认知的结果</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="##" target="_blank">不需要Twitter</a>
            </li>
            <li>
              <a href="##" target="_blank">也不需要Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">记录</h2>
        <div class="tag-post-list">
          <ul>
            <li>就像多数人喜欢旅游时随处拍照，结果留下了一堆照片</li>
            <li>我写了一堆文章，结果仍一无所有</li>
            <li>人人讨厌看书中介绍人物时前面的一大堆头衔，而现实中</li>
            <li>一个人没有头衔的话，是很难说服别人达到我们的目的</li>
            <li>这就是每个人都急于给自己定位的原因</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">其他</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              专注的方向、沉迷的时间、处理的效率、逆向的张力
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
